; Written by Yggdrasil. Every key below is one operator-visible setting;
; the game requires them on a single line inside one OptionSettings tuple.
[/Script/Pal.PalGameWorldSettings]
OptionSettings=(Difficulty={{.Vars.difficulty}}
{{- ","}}RandomizerType={{.Vars.randomizer_type}}
{{- ","}}RandomizerSeed="{{.Vars.randomizer_seed}}"
{{- ","}}bIsRandomizerPalLevelRandom={{.Vars.randomizer_pal_level_random}}
{{- ","}}DayTimeSpeedRate={{.Vars.day_time_speed_rate}}
{{- ","}}NightTimeSpeedRate={{.Vars.night_time_speed_rate}}
{{- ","}}ExpRate={{.Vars.exp_rate}}
{{- ","}}PalCaptureRate={{.Vars.pal_capture_rate}}
{{- ","}}PalSpawnNumRate={{.Vars.pal_spawn_num_rate}}
{{- ","}}PalDamageRateAttack={{.Vars.pal_damage_rate_attack}}
{{- ","}}PalDamageRateDefense={{.Vars.pal_damage_rate_defense}}
{{- ","}}PlayerDamageRateAttack={{.Vars.player_damage_rate_attack}}
{{- ","}}PlayerDamageRateDefense={{.Vars.player_damage_rate_defense}}
{{- ","}}PlayerStomachDecreaceRate={{.Vars.player_stomach_decrease_rate}}
{{- ","}}PlayerStaminaDecreaceRate={{.Vars.player_stamina_decrease_rate}}
{{- ","}}PlayerAutoHPRegeneRate={{.Vars.player_auto_hp_regen_rate}}
{{- ","}}PlayerAutoHpRegeneRateInSleep={{.Vars.player_auto_hp_regen_rate_in_sleep}}
{{- ","}}PalStomachDecreaceRate={{.Vars.pal_stomach_decrease_rate}}
{{- ","}}PalStaminaDecreaceRate={{.Vars.pal_stamina_decrease_rate}}
{{- ","}}PalAutoHPRegeneRate={{.Vars.pal_auto_hp_regen_rate}}
{{- ","}}PalAutoHpRegeneRateInSleep={{.Vars.pal_auto_hp_regen_rate_in_sleep}}
{{- ","}}BuildObjectHpRate={{.Vars.build_object_hp_rate}}
{{- ","}}BuildObjectDamageRate={{.Vars.build_object_damage_rate}}
{{- ","}}BuildObjectDeteriorationDamageRate={{.Vars.build_object_deterioration_damage_rate}}
{{- ","}}CollectionDropRate={{.Vars.collection_drop_rate}}
{{- ","}}CollectionObjectHpRate={{.Vars.collection_object_hp_rate}}
{{- ","}}CollectionObjectRespawnSpeedRate={{.Vars.collection_object_respawn_speed_rate}}
{{- ","}}EnemyDropItemRate={{.Vars.enemy_drop_item_rate}}
{{- ","}}DeathPenalty={{.Vars.death_penalty}}
{{- ","}}bEnablePlayerToPlayerDamage={{.Vars.enable_player_to_player_damage}}
{{- ","}}bEnableFriendlyFire={{.Vars.enable_friendly_fire}}
{{- ","}}bEnableInvaderEnemy={{.Vars.enable_invader_enemy}}
{{- ","}}bActiveUNKO={{.Vars.active_unko}}
{{- ","}}bEnableAimAssistPad={{.Vars.enable_aim_assist_pad}}
{{- ","}}bEnableAimAssistKeyboard={{.Vars.enable_aim_assist_keyboard}}
{{- ","}}DropItemMaxNum={{.Vars.drop_item_max_num}}
{{- ","}}PhysicsActiveDropItemMaxNum={{.Vars.physics_active_drop_item_max_num}}
{{- ","}}DropItemMaxNum_UNKO={{.Vars.drop_item_max_num_unko}}
{{- ","}}BaseCampMaxNum={{.Vars.base_camp_max_num}}
{{- ","}}BaseCampWorkerMaxNum={{.Vars.base_camp_worker_max_num}}
{{- ","}}DropItemAliveMaxHours={{.Vars.drop_item_alive_max_hours}}
{{- ","}}bAutoResetGuildNoOnlinePlayers={{.Vars.auto_reset_guild_no_online_players}}
{{- ","}}AutoResetGuildTimeNoOnlinePlayers={{.Vars.auto_reset_guild_time_no_online_players}}
{{- ","}}GuildPlayerMaxNum={{.Vars.guild_player_max_num}}
{{- ","}}BaseCampMaxNumInGuild={{.Vars.base_camp_max_num_in_guild}}
{{- ","}}PalEggDefaultHatchingTime={{.Vars.pal_egg_default_hatching_time}}
{{- ","}}WorkSpeedRate={{.Vars.work_speed_rate}}
{{- ","}}AutoSaveSpan={{.Vars.auto_save_span}}
{{- ","}}bIsMultiplay={{.Vars.is_multiplay}}
{{- ","}}bIsPvP={{.Vars.is_pvp}}
{{- ","}}bHardcore={{.Vars.hardcore}}
{{- ","}}bPalLost={{.Vars.pal_lost}}
{{- ","}}bCharacterRecreateInHardcore={{.Vars.character_recreate_in_hardcore}}
{{- ","}}bCanPickupOtherGuildDeathPenaltyDrop={{.Vars.can_pickup_other_guild_death_penalty_drop}}
{{- ","}}bEnableNonLoginPenalty={{.Vars.enable_non_login_penalty}}
{{- ","}}bEnableFastTravel={{.Vars.enable_fast_travel}}
{{- ","}}bEnableFastTravelOnlyBaseCamp={{.Vars.enable_fast_travel_only_base_camp}}
{{- ","}}bIsStartLocationSelectByMap={{.Vars.start_location_select_by_map}}
{{- ","}}bExistPlayerAfterLogout={{.Vars.exist_player_after_logout}}
{{- ","}}bEnableDefenseOtherGuildPlayer={{.Vars.enable_defense_other_guild_player}}
{{- ","}}bInvisibleOtherGuildBaseCampAreaFX={{.Vars.invisible_other_guild_base_camp_area_fx}}
{{- ","}}bBuildAreaLimit={{.Vars.build_area_limit}}
{{- ","}}ItemWeightRate={{.Vars.item_weight_rate}}
{{- ","}}CoopPlayerMaxNum={{.Vars.coop_player_max_num}}
{{- ","}}ServerPlayerMaxNum={{.Vars.server_player_max_num}}
{{- ","}}ServerName="{{.Vars.server_name}}"
{{- ","}}ServerDescription="{{.Vars.server_description}}"
{{- ","}}AdminPassword="{{.Vars.admin_password}}"
{{- ","}}ServerPassword="{{.Vars.server_password}}"
{{- ","}}bAllowClientMod={{.Vars.allow_client_mod}}
{{- ","}}PublicIP="{{.Vars.public_ip}}"
{{- ","}}RCONEnabled={{if and (eq .Vars.rcon_enabled "True") .Vars.admin_password}}True{{else}}False{{end}}
{{- ","}}Region="{{.Vars.region}}"
{{- ","}}bUseAuth={{.Vars.use_auth}}
{{- ","}}BanListURL="{{.Vars.ban_list_url}}"
{{- ","}}RESTAPIEnabled={{if and (eq .Vars.rest_api_enabled "True") .Vars.admin_password}}True{{else}}False{{end}}
{{- ","}}bShowPlayerList={{.Vars.show_player_list}}
{{- ","}}ChatPostLimitPerMinute={{.Vars.chat_post_limit_per_minute}}
{{- ","}}CrossplayPlatforms={{.Vars.crossplay_platforms}}
{{- ","}}bIsUseBackupSaveData={{.Vars.use_backup_save_data}}
{{- ","}}LogFormatType={{.Vars.log_format_type}}
{{- ","}}bIsShowJoinLeftMessage={{.Vars.show_join_left_message}}
{{- ","}}SupplyDropSpan={{.Vars.supply_drop_span}}
{{- ","}}EnablePredatorBossPal={{.Vars.enable_predator_boss_pal}}
{{- ","}}MaxBuildingLimitNum={{.Vars.max_building_limit_num}}
{{- ","}}ServerReplicatePawnCullDistance={{.Vars.server_replicate_pawn_cull_distance}}
{{- ","}}bAllowGlobalPalboxExport={{.Vars.allow_global_palbox_export}}
{{- ","}}bAllowGlobalPalboxImport={{.Vars.allow_global_palbox_import}}
{{- ","}}EquipmentDurabilityDamageRate={{.Vars.equipment_durability_damage_rate}}
{{- ","}}ItemContainerForceMarkDirtyInterval={{.Vars.item_container_force_mark_dirty_interval}}
{{- ","}}PlayerDataPalStorageUpdateCheckTickInterval={{.Vars.player_data_pal_storage_update_check_tick_interval}}
{{- ","}}ItemCorruptionMultiplier={{.Vars.item_corruption_multiplier}}
{{- ","}}MonsterFarmActionSpeedRate={{.Vars.monster_farm_action_speed_rate}}
{{- ","}}DenyTechnologyList={{.Vars.deny_technology_list}}
{{- ","}}GuildRejoinCooldownMinutes={{.Vars.guild_rejoin_cooldown_minutes}}
{{- ","}}AutoTransferMasterCheckIntervalSeconds={{.Vars.auto_transfer_master_check_interval_seconds}}
{{- ","}}AutoTransferMasterThresholdDays={{.Vars.auto_transfer_master_threshold_days}}
{{- ","}}MaxGuildsPerFrame={{.Vars.max_guilds_per_frame}}
{{- ","}}BlockRespawnTime={{.Vars.block_respawn_time}}
{{- ","}}RespawnPenaltyDurationThreshold={{.Vars.respawn_penalty_duration_threshold}}
{{- ","}}RespawnPenaltyTimeScale={{.Vars.respawn_penalty_time_scale}}
{{- ","}}bDisplayPvPItemNumOnWorldMap_BaseCamp={{.Vars.display_pvp_item_num_on_world_map_base_camp}}
{{- ","}}bDisplayPvPItemNumOnWorldMap_Player={{.Vars.display_pvp_item_num_on_world_map_player}}
{{- ","}}AdditionalDropItemWhenPlayerKillingInPvPMode="{{.Vars.additional_drop_item_when_player_killing_in_pvp_mode}}"
{{- ","}}AdditionalDropItemNumWhenPlayerKillingInPvPMode={{.Vars.additional_drop_item_num_when_player_killing_in_pvp_mode}}
{{- ","}}bAdditionalDropItemWhenPlayerKillingInPvPMode={{.Vars.enable_additional_drop_item_when_player_killing_in_pvp_mode}}
{{- ","}}bEnableVoiceChat={{.Vars.enable_voice_chat}}
{{- ","}}VoiceChatMaxVolumeDistance={{.Vars.voice_chat_max_volume_distance}}
{{- ","}}VoiceChatZeroVolumeDistance={{.Vars.voice_chat_zero_volume_distance}}
{{- ","}}bAllowEnhanceStat_Health={{.Vars.allow_enhance_stat_health}}
{{- ","}}bAllowEnhanceStat_Attack={{.Vars.allow_enhance_stat_attack}}
{{- ","}}bAllowEnhanceStat_Stamina={{.Vars.allow_enhance_stat_stamina}}
{{- ","}}bAllowEnhanceStat_Weight={{.Vars.allow_enhance_stat_weight}}
{{- ","}}bAllowEnhanceStat_WorkSpeed={{.Vars.allow_enhance_stat_work_speed}}
{{- ","}}bEnableBuildingPlayerUIdDisplay={{.Vars.enable_building_player_uid_display}}
{{- ","}}BuildingNameDisplayCacheTTLSeconds={{.Vars.building_name_display_cache_ttl_seconds}}
{{- ","}}bAllowEnemyCampSpawnNearBaseCamp={{.Vars.allow_enemy_camp_spawn_near_base_camp}}
{{- ","}}PublicPort={{.Ports.game}}
{{- ","}}RCONPort={{.Ports.rcon}}
{{- ","}}RESTAPIPort={{.Ports.rest}}
{{- ")"}}
